<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>

<div class='fixed-action-btn'>
  <%= link_to new_event_path, class: 'btn-floating btn-large blue darken-4 tooltipped', id: 'new-event-button',
              'data-tooltip': 'Create Event', 'data-position': 'left', 'data-delay': '50' do %>
    <i class='material-icons'>library_add</i>
  <% end %>
</div>

<% if @events.size < 1 %>

  <div class='tap-target blue white-text' data-activates='new-event-button'>
    <div class='tap-target-content'>
      <div style='padding-left: 10px'>
        <h5>You don't have any events yet!</h5>
        <p class='flow-text'>
          Click this button to get started making your first event!
        </p>
      </div>
    </div>
  </div>

  <script>
   $(function() {
     $('.tap-target').tapTarget('open');
   });
  </script>
<% else %>
  <section class='events'>
    <% @events.each_with_index do |event, index| %>
      <% # Close old row before opening a new one %>
      <% if index > 0 and index % 2 == 0 %>
        </div>
      <% end %>

      <% if index % 2 == 0 %>
        <div class='row'>
      <% end %>

      <div class='col s12 m6'>
        <section class='event card'>
          <div class='card-image'>
            <%= link_to event do %>
              <% album = event.albums.first %>
              <% image_url = display_image(event) %>
              <%= tag :img, src: image_url %>
              <div class='card-content white-text'>
                <div class='background-blur'  style='background-image: url("<%= image_url %>")'></div>
                <header class='card-title'><%= event.name %></header>
                <% if event.start_time %>
                  <p>
                    <%= event.start_time.strftime('%b %-d, %Y') %>
                    <% if event.end_time %>
                      from <%= event.start_time.strftime('%l:%M %p') %>
                      to <%= event.end_time.strftime('%l:%M %p') %>
                    <% else %>
                      @ <%= event.start_time.strftime('%l:%M %p') %>
                    <% end %>
                  </p>
                <% end %>

                <% unless event.location.blank? %>
                  <p>@ <%= event.location.split("\n").join(', ') %></p>
                <% end %>
              </div>
            <% end %>
          </div>

          <div class='card-action'>
            <%= link_to event, class: 'btn-flat tooltipped grey-text text-darken-1',
              'data-tooltip': 'View Albums', 'data-position': 'top', 'data-delay': 50 do %>
              <i class='material-icons'>perm_media</i>
            <% end %>
            <%= link_to edit_event_path(event), class: 'btn-flat tooltipped grey-text text-darken-1',
              'data-tooltip': 'Edit Event', 'data-position': 'top', 'data-delay': 50 do %>
              <i class='material-icons'>mode_edit</i>
            <% end %>
            <%= link_to event, class: 'btn-flat tooltipped grey-text text-darken-1 hover-red hover-grey-text hover-text-lighten-5',
              'data-tooltip': 'Delete Event', 'data-position': 'top', 'data-delay': 50,
              method: :delete, data: { confirm: 'Are you sure?' } do %>
              <i class='material-icons'>delete</i>
            <% end %>
          </div>
        </section>
      </div>
    <% end %>
  </section>

  <script>
   $(function() {
     $('.event .card-image').each(function() {
       this.style.height = this.clientWidth + 'px'
     });
   });
  </script>
<% end %>
