<header class='card'>
  <div class='card-content'>
    <div class='right thin'>
      <% if @event.start_time %>
        <%= @event.start_time.strftime('%D') %><br/>
      <% end %>
      <% if @event.images.size > 0 or @event.fetching_images? %>
        <div><%= pluralize(@event.images.size, 'image').upcase %></div>
      <% end %>
    </div>
    <h5 class='card-title'>
      <%= @event.name.upcase %>
    </h5>
  </div>
  <div class='card-action' style='text-align: right;'>
    <%= link_to 'Edit Event', edit_event_path(@event), class: 'btn-flat black-text' %>
    <%= link_to 'Add Album', new_event_album_path(@event), class: 'btn-flat black-text' %>
    <%= link_to 'Back to Dashboard', dashboard_path, class: 'btn-flat black-text' %>
  </div>
</header>

<% if @event.albums.size < 1 %>
  <%= render 'empty' %>
<% else %>
  <section class='row'>
    <% @event.albums.each do |album| %>
      <div class='col s12 m6'>
        <section class='album card'>
          <div class='card-image'>
            <%= link_to [@event, album] do %>
              <%= tag :img, src: album.images.first.thumbnail_url.to_s %>
              <div class='card-content'>
                <header class='card-title'><%= album.name.upcase %></header>
              </div>
            <% end %>
          </div>

          <div class='card-action'>
            <%= link_to([@event, album], class: 'btn-flat tooltipped grey-text text-darken-1',
                       'data-tooltip': 'View Images', 'data-position': 'top', 'data-delay': 50) do %>
              <i class='material-icons'>perm_media</i>
            <% end %>
            <%= link_to(edit_event_album_path(@event, album), class: 'btn-flat tooltipped grey-text text-darken-1',
                        'data-tooltip': 'Edit Album', 'data-position': 'top', 'data-delay': 50) do %>
              <i class='material-icons'>mode_edit</i>
            <% end %>
            <%= link_to([@event, album],
                        class: 'btn-flat tooltipped grey-text text-darken-1 hover-red hover-grey-text hover-text-lighten-5',
                        'data-tooltip': 'Delete Album', 'data-position': 'top', 'data-delay': 50,
                        method: :delete, data: { confirm: 'Are you sure?' }) do %>
              <i class='material-icons'>delete</i>
            <% end %>
          </div>
        </section>
      </div>
    <% end %>
  </section>
<% end %>
