<header class='card'>
  <div class='card-content'>
    <h5 class='card-title'>
      <small class='right thin'><%= pluralize(@album.images.count, 'image').upcase %></small>
      <%= @album.name %>
    </h5>
  </div>
</header>

<% if user_signed_in? %>
  <% if @event.owned_by? current_user %>
    <div class='fixed-action-btn'>
      <a class='btn-floating btn-large blue darken-4'>
        <i class='material-icons'>menu</i>
      </a>

      <ul>
        <li>
          <%= link_to @event, class: 'btn-floating blue darken-2 white-text tooltipped',
            'data-tooltip': 'Back to Event', 'data-position': 'left', 'data-delay': '50' do %>
            <i class='material-icons'>arrow_back</i>
          <% end %>
        </li>

        <li>
          <%= link_to '#share-album-modal', class: 'btn-floating blue darken-2 white-text tooltipped',
            'data-tooltip': 'Download Images', 'data-position': 'left', 'data-delay': '50' do %>
            <i class='material-icons'>file_download</i>
          <% end %>
        </li>

        <li>
          <%= link_to edit_event_album_path(@event, @album), class: 'btn-floating blue darken-2 white-text tooltipped',
            'data-tooltip': 'Add/Remove Images', 'data-position': 'left', 'data-delay': '50' do %>
            <i class='material-icons'>exposure</i>
          <% end %>
        </li>

        <li>
          <%= link_to edit_event_album_path(@event, @album), class: 'btn-floating blue darken-2 white-text tooltipped',
            'data-tooltip': 'Edit Album', 'data-position': 'left', 'data-delay': '50' do %>
            <i class='material-icons'>mode_edit</i>
          <% end %>
        </li>
      </ul>
    </div>

    <div class='modal' id='share-album-modal'>
      <%= form_tag(event_album_path(@event, @album, format: :zip), method: 'get') do %>
        <div class='modal-content'>
          <h5>Download Album</h5>
          <p>
            <strong>This can take a while.</strong>
            Enter your email below and we'll email you your images once we've collected them.
          </p>
          <div class='field'>
            <%= label_tag(:email) %>
            <%= email_field_tag(:email, current_user.email, required: 'required') %>
          </div>

          <div class='modal-footer'>
            <a href='#!' class='btn-flat'>Cancel</a>
            <%= submit_tag('Download', class: 'btn-flat hover-blue hover-darken-4 hover-white-text') %>
          </div>
        </div>
      <% end %>
    </div>

  <% else %>

    <div class='fixed-action-btn'>
      <%= link_to @event, class: 'btn-floating btn-large blue darken-4 white-text tooltipped',
        'data-tooltip': 'Back to Event', 'data-position': 'left', 'data-delay': '50' do %>
        <i class='material-icons'>arrow_back</i>
      <% end %>
    </div>
  <% end %>
<% end %>

<div class='row'>
  <% @album.images.each_with_index do |image, index| %>
    <div class='col s12 m6 l3'>
      <section class='image card'>
        <div class='card-image'>
          <%= link_to image.high_res_url, target: '_blank' do %>
            <%= tag :img, src: image.thumbnail_url %>
          <% end %>
        </div>
      </section>
    </div>
  <% end %>
</div>
