<!DOCTYPE html>
<html>
  <head>
    <title>
      CLIQ PIC
      <% if @event %>
        | <%= @event.name %>
      <% end %>
      <% if @album %>
        | <%= @album.name %>
      <% end %>
    </title>
    <%= csrf_meta_tags %>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class='grey lighten-5'>
    <div class='container'>
      <nav class='<%= 'nav-extended' if content_for? :nav_content %>'>
        <div class='nav-wrapper blue darken-4'>
          <%= link_to dashboard_path, class: 'brand-logo' do %>
            <%= image_tag 'cliq_pic_logo-white.png' %> CLIQ PIC
          <% end %>
          <ul class='right'>
            <li><%= link_to 'LOGOUT', destroy_user_session_path, method: :delete %></li>
          </ul>
        </div>

        <% if content_for? :nav_content %>
          <div class='nav-content'>
            <%= yield :nav_content %>
          </div>
        <% end %>

      </nav>
      <% flash.each do |name, msg| %>
        <%= render("#{name}_toast", message: msg) rescue render('toast', args: [msg, 'black white-text']) %>
      <% end %>

      <main>
        <%= yield %>
      </main>
    </div>

    <script>
     (function() {
       var user_tz = <%= (user_signed_in? ? current_user.time_zone : request.session[:time_zone]) || 'null' %>,
           real_tz = -(new Date().getTimezoneOffset() * 60);

       if(user_tz !== real_tz) {
         $.ajax({
           url: '/set-tz',
           method: 'PUT',
           content_type: 'application/json',
           data: {
             time_zone: real_tz
           }
         });
       }
     }())
    </script>
  </body>
</html>
